.modal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: black;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* 
  background: linear-gradient(
    135deg,
    rgba(114, 97, 147, 0.5) 25%,
    rgba(227, 123, 124, 0.5) 50%,
    rgba(250, 219, 167, 0.7)
  );

  background: -moz-linear-gradient(
    135deg,
    rgba(114, 97, 147, 0.5) 25%,
    rgba(227, 123, 124, 0.5) 50%,
    rgba(250, 219, 167, 0.7)
  );

  background: -webkit-linear-gradient(
    135deg,
    rgba(114, 97, 147, 0.5) 25%,
    rgba(227, 123, 124, 0.5) 50%,
    rgba(250, 219, 167, 0.7)
  ); */

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#AFFCAF", endColorstr="#12DFF3", GradientType=1 );
}

.modal-content {
  position: relative;
  background-color: #2ec1aa;
  color: aliceblue;
  top: 15%;
  left: 27%;
  width: 46%;
  border: 1px solid saddlebrown;
  text-align: center;
}

.quotes-image {
  height: inherit;
  width: inherit;
}
.modal-header {
  border-bottom: 2px solid green;
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header > h2 {
  margin: 0;
  font-weight: 400;
}

.modal-btn {
  width: auto;
  border: none;
  color: orangered;
  font-size: 2rem;
  font-weight: 300;
}

.modal-body {
  padding: 1rem;
}

.modal-body {
  font-size: 3vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .modal-content {
    width: 80%;
    margin: 0 auto;
    left: 0;
    min-height: 300px;
    height: auto;
  }
  .modal-body {
    font-size: 1rem;
  }
}
